{% extends "index.html" %}
{% block template %}
<!-- NProgress -->
<link href="/static/plugin/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="/static/plugin/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="/static/plugin/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="/static/plugin/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
<!-- bootstrap-daterangepicker -->
<link href="/static/plugin/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Network Activities
                            <small>Graph title sub-title</small>
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 ">
                    <div id="GZBD_Line_Graph" class="demo-placeholder"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Visitors location
                                <small>geo-presentation</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                <div class="col-md-4 hidden-small">
                                    <h2 class="line_30">125.7k Views from 60 countries</h2>

                                    <table class="countries_list">
                                        <tbody>
                                        <tr>
                                            <td>United States</td>
                                            <td class="fs15 fw700 text-right">33%</td>
                                        </tr>
                                        <tr>
                                            <td>France</td>
                                            <td class="fs15 fw700 text-right">27%</td>
                                        </tr>
                                        <tr>
                                            <td>Germany</td>
                                            <td class="fs15 fw700 text-right">16%</td>
                                        </tr>
                                        <tr>
                                            <td>Spain</td>
                                            <td class="fs15 fw700 text-right">11%</td>
                                        </tr>
                                        <tr>
                                            <td>Britain</td>
                                            <td class="fs15 fw700 text-right">10%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="world-map-gdp" class="col-md-8 col-sm-12 " style="height:230px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!-- FastClick -->
<script src="/static/plugin/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/static/plugin/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/static/plugin/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/static/plugin/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/static/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/static/plugin/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/static/plugin/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/static/plugin/Flot/jquery.flot.js"></script>
<script src="/static/plugin/Flot/jquery.flot.pie.js"></script>
<script src="/static/plugin/Flot/jquery.flot.time.js"></script>
<script src="/static/plugin/Flot/jquery.flot.stack.js"></script>
<script src="/static/plugin/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/static/plugin/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/static/plugin/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/static/plugin/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/static/plugin/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/static/plugin/jqvmap/dist/jquery.vmap.js"></script>
<script src="/static/plugin/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/static/plugin/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/static/plugin/moment/min/moment.min.js"></script>
<script src="/static/plugin/bootstrap-daterangepicker/daterangepicker.js"></script>

<script type="text/javascript">
    //文档加载  点击事件
    $(function () {
        init_gzbd();
    })

    var chart_plot_01_settings = {
        //自定义数据系列
        series: {
            //设置项
            lines: {
                show: false,//是否显示
                fill: true//是否填充
            },
            //直线变为曲线
            splines: {
                show: true,
                tension: 0.4,
                lineWidth: 1,
                fill: 0.4
            },
            points: {
                radius: 0,//点的半径
                show: true
            },
            //设置阴影的大小，0消除阴影
            shadowSize: 2
        },
        //网络设置
        grid: {
            verticalLines: true,
            hoverable: true,
            clickable: true,
            tickColor: "#d5d5d5",
            borderWidth: 1,
            color: '#fff'//网格线颜色
        },
        //设置每个图轨颜色
        colors: ["rgba(3,88,106,0.38)","rgba(12,106,105,0.95)", "rgba(5,158,186,0.95)"],
        //x轴
        xaxis: {
            tickColor: "rgba(51, 51, 51, 0.06)",
            mode: "time",//时间类型
            //时间格式化
            timeformat:"%y/%m/%d",
            //单独定义刻度文字颜色
            tickSize: [1, "day"],
            //tickLength: 10,
            axisLabel: "日期",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        //y轴
        yaxis: {
            ticks: 8,
            tickColor: "rgba(51, 51, 51, 0.06)",
            axisLabel: "数量",
        },
        tooltip: false
    }

    function init_gzbd() {
        $.ajax({
            url:"/gzbd",
            type:"get",
            success:function (data) {
                //确诊、治愈、死亡 图轨
                var diagnosis_trace = [];
                var cure_trace = [];
                var death_reace = [];
                $.each(data,function () {
                    //时间点的数据包装
                    var diagnosis_point = [];
                    diagnosis_point.push(new Date(this.date));
                    diagnosis_point.push(this.diagnosis);
                    var cure_point = [];
                    cure_point.push(new Date(this.date));
                    cure_point.push(this.cure);
                    var death_point = [];
                    death_point.push(new Date(this.date));
                    death_point.push(this.death);

                    diagnosis_trace.push(diagnosis_point);
                    cure_trace.push(cure_point);
                    death_reace.push(death_point);
                })
                var gzbd = [];
                gzbd.push({label:"<div style = 'color: #0b2e13'>确诊数</div>", data:diagnosis_trace,bars: {show: true}});
                gzbd.push({label:"<div style = 'color: #0b2e13'>治愈数</div>", data:cure_trace,bars: {show: true}});
                gzbd.push({label:"<div style = 'color: #0b2e13'>死亡数</div>", data:death_reace,bars: {show: true}});
                $.plot($("#GZBD_Line_Graph"), gzbd, chart_plot_01_settings);
            },
            error:function (data) {
                 layer.msg(data.responseText,{icon:0});
            }
        })
    }
</script>

{% endblock template %}